<!doctype html>
%html{:lang => "en"}

  %head
    %meta{:charset => "utf-8"}/
    %title WebBuddy Tool Switcher
    %link{:href => "../assets/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "../assets/css/style.css", :rel => "stylesheet"}/
    / scripts at bottom of page

  %body.app

    %section#content
      .span6.offset3
        #container
          / #new-address-tool.tool.predefined
          /   %h3.name Input...
          /   %input.detail.address{:name => "address", :type => "text"}/
          /   %button.detail.submit{:name => "submit"} Go

          / elements added dynamically.
          
          / #config-switcher-tool.tool.predefined
          /   %h3.name Configure tools...

    %section#templates
      #stub-tool-id.tool.template
        %h3.name stub tool name

    -# FIXME move deps to the js file according to best convention.
    %script{:src => "../assets/js/jquery-1.7.1.min.js"}
    %script{:src => "../assets/js/jquery.isotope.min.js"}
    %script( src="switcher.js" )
    