@import "../bower_components/foundation/scss/foundation";


//## DEV
.item {
  // background-color: lightyellow;
}

.dev {
  display: block;
  // display: none;
}

.editable-controls {
  textarea {
    width: 100% !important;
    height: 200px;
  }
}

.button-group {
  > p, .button {
    display: inline-block;
  }
}

//## typography.

p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 80%;

  margin: 0;
}

//## colours.
body {
  background: #696d73 !important;

  h1, h2, h3, h4, h5, h6, p, a {
    color: #eee;
  }
}

//## visual roles.

.selected {
  background-color: #999999;
}

// text highlight
span.highlight {
  background-color: yellow;
}


@mixin vertical-panel {
  float: left;

  height: 80vh;
  overflow: scroll;
}

@mixin vertically-centered {
  // TODO bring in recipes https://github.com/MoOx/compass-recipes (make this redundant as necessary, then add to detail list item.)
}



section {
  @include grid-row;  // horizontal sections
}


section.master {
  @include vertical-panel;

  text-align: center;
  width: 20%;
}

section.detail {
  @include vertical-panel;

  text-align: center;
  // text-align-last: left;  // doesn't work due to webkit bug

  width: 80%;
}


//## specific elements.

.item {
  // @include grid-column(4);  // 3-column layout

  max-width: 100%;  // bound to parent element width

  a {
    display: inline-block;
    text-align: center;

    max-width: 100%;

    // make immediate children fit.
    > img {
      display: inline-block;

      margin-top: 20px;

      width: 80%;
      // width: 100px;
      height: auto;  // should be scaled to width
      min-height: 80px;

      @include clearfix;
    }

    > p {
      margin: 0;

      max-width: 95%;
    }
  }

}


.hit-list {
  .item a {
    // display: inline-block;
    min-width: 50px;  // constrain min item size
    min-height: 50px;
  }

  // // hiding filter misses.
  // .item:not(.hit) {
  //   // display: none;
  //   height: 0;
  //   padding: 0;
  //   > a, p, div {
  //     visibility: hidden;
  //     height: 0;
  //     padding: 0;
  //   }
  // }

  // .item {
  //   transition:0.2s ease-in-out all;
  //   height: 100%;
  // }
  // .item.ng-hide-add, .item.ng-hide-remove {
  //   display: block !important;  // show element during animation
  // }
  // .item.ng-hide {
  //   height:0;
  // }

  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;

  .item.ng-enter,
  .item.ng-leave {
    transition:0.3s linear all;
    position: relative;
    display: block;
  }

  // hidden state
  .item.ng-enter,
  .item.ng-leave.ng-leave-active {
    transform: scale3d(0, 0, 1);
    // translate3d(0,-50px,0);
    // height: 0;
    // top: -50px;
    height: 0px;
  }

  // visible state
  .item.ng-leave,
  .item.ng-enter.ng-enter-active {
    transform: scale3d(1, 1, 1);
      // translate3d(0,0,0);
    // height: auto;
    top: 0;
    height: 30px;
  }

  .item.ng-move {
    transition:0.3s linear all;
  }
}

.detail-list {
  text-align: justify;

  .item {
    display: inline-block;

    margin-left: 10px;

    // flex: 0 1 auto;  // we can't use flex due to old webkit not supporting it. if we can shim it it would be great as we can get rid of all the layout depending on inline-block.

    // constrain minimum size.
    min-width: 10%;

    > a {
      width: 150px;

      img {
        min-width: 100px;
        min-height: 100px;

        // width: 250px;
        // height: 250px;
        // width: 15em;
        // height: 15em;
      }

      p {
        min-height: 30px;
      }
    }
  }
}


/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

