@import "../bower_components/foundation/scss/foundation";

//## DEV
.item {
  background-color: lightyellow;
  // background-color: none;

  padding-top: 15px;
  padding-bottom: 15px;
  // TODO ensure fixed size.
}

// // vertically centre.
// .item::before{
//     content:'';
//     display:inline-block;
//     height:100%;
//     vertical-align:middle;
//     width:0px;
// }

.dev {
  display: block;
  // display: none;
}



//## typography.

p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 80%;

  margin: 0;
}


//## visual roles.

.selected {
  background-color: #999999;
}


@mixin vertical-panel {
  float: left;

  height: 80vh;
  overflow: scroll;
}

@mixin vertically-centered {
  // TODO bring in recipes https://github.com/MoOx/compass-recipes (make this redundant as necessary, then add to detail list item.)
}



section {
  @include grid-row;  // horizontal sections
}


section.master {
  @include vertical-panel;

  text-align: center;
  width: 20%;
}

section.detail {
  @include vertical-panel;

  text-align: center;
  // text-align-last: left;  // doesn't work due to webkit bug

  width: 80%;
}


//## specific elements.

.item {
  // @include grid-column(4);  // 3-column layout

  a {
    display: inline-block;
    width: 100px;
    text-align: center;

    // make immediate children fit.
    > img, p {
      width: 100%;
    }
  }

  img {
    display: inline-block;  // horizontally centre

    height: auto;  // should be scaled to width
    min-height: 80px;

    @include clearfix;
  }

}


.hit-list {
  .item a {
    // display: inline-block;
    min-width: 50px;  // constrain min item size
    min-height: 50px;
  }
}

.detail-list {
  text-align: justify;

  .item {
    display: inline-block;

    margin-left: 10px;

    // flex: 0 1 auto;  // we can't use flex due to old webkit not supporting it. if we can shim it it would be great as we can get rid of all the layout depending on inline-block.

    // constrain minimum size.
    min-width: 10%;

    > a {
      width: 150px;

      img {
        min-width: 100px;
        min-height: 100px;

        // width: 250px;
        // height: 250px;
        // width: 15em;
        // height: 15em;
      }

      p {
        min-height: 30px;
      }
    }
  }
}


/**** Isotope Filtering ****/

.isotope {
  /*isotope horizontal layout needs height set on container */
  /*height: 120px;*/
  height: 100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

