<div class='dev'>
  <h3>Filter</h3>
  <input ng-change='filter(data.input);' ng-model='data.input'>
  <h3>Evaluator</h3>
  <input ng-change='evaluate(dev_input)' ng-model='dev_input'>
  <p>{{dev_output}}</p>
</div>
<div class='searches'>
  <h2>Searches</h2>
  <ul class='search-list' isotope-container>
    <li class='item' data-ng-repeat='item in data.searches' isotope-item>
      <img ng-src='{{item.thumbnail_url}}'>
      <p>{{item.name}}</p>
    </li>
  </ul>
</div>
<div class='pages'>
  <h2>Pages</h2>
  <ul class='page-list' isotope-container>
    <li class='item' data-ng-repeat='item in data.pages' isotope-item>
      <img ng-src='{{item.thumbnail_url}}'>
      <p>{{item.name}}</p>
    </li>
  </ul>
</div>
<div class='suggestions' style='display:none;'>
  <h2>Search suggestions for '{{data.input}}'</h2>
  <ul class='suggestion-list' isotope-container>
    <li class='item' data-ng-repeat='item in data.suggestions' isotope-item>
      <p>{{item}}</p>
    </li>
  </ul>
</div>
