.dev
  %h3 Filter
  %input( ng-model="data.input" ng-change="filter(data.input);")

  %h3 Evaluator
  %input( ng-model="dev_input" ng-change="evaluate(dev_input)")
  %p {{dev_output}}



.searches
  %h2 Searches

  %ul.search-list( disabled-isotope-container )

    %li.item( data-ng-repeat="item in data.searches | limitTo:5" disabled-isotope-item
      )
      %img( ng-src="{{item.thumbnail_url}}")
      %p {{item.name}}

    %li.item
      %p More...

-# design note: in order to reduce info that has to be processed at a glance, we need to move these entities into interaction results in a coarser-grain entity. Candidates: hanging them off searches or keywords.
.pages( style="display:none;" )
  %h2 Pages

  %ul.page-list( disabled-isotope-container )

    %li.item( data-ng-repeat="item in data.pages" disabled-isotope-item
      )
      %img( ng-src="{{item.thumbnail_url}}")
      %p {{item.name}}



.suggestions( style="display:none;" )
  %h2 Search suggestions for '{{data.input}}'

  %ul.suggestion-list( disabled-isotope-container )

    %li.item( data-ng-repeat="item in data.suggestions"
      disabled-isotope-item
      )
      %p {{item}}


.highlights( )
  %h2 Highlighted content for '{{data.input}}'

  %ul.highlight-list( disabled-isotope-container )

    %li.item( data-ng-repeat="item in data.highlights"
      disabled-isotope-item
      )
      %p {{item}}


-# SCRIBBLE design candidate: list with category pane at left or top
