.dev
  %h3 Filter
  %input( ng-model="data.input" ng-change="filter(data.input);")

  %h3 Evaluator
  %input( ng-model="dev_input" ng-change="evaluate(dev_input)")
  %p {{dev_output}}



.searches
  %h2 Searches

  %ul.search-list( isotope-container )

    %li.item( data-ng-repeat="item in data.searches" isotope-item
      )
      %img( ng-src="{{item.thumbnail_url}}")
      %p {{item.name}}



.pages
  %h2 Pages

  %ul.page-list( isotope-container )

    %li.item( data-ng-repeat="item in data.pages" isotope-item
      )
      %img( ng-src="{{item.thumbnail_url}}")
      %p {{item.name}}



.suggestions( style="display:none;" )
  %h2 Search suggestions for '{{data.input}}'

  %ul.suggestion-list( isotope-container )

    %li.item( data-ng-repeat="item in data.suggestions"
      isotope-item
      )
      %p {{item}}


