%section.dev( ng-show="view_model.show_dev" )
  %h3 Filter
  %input( ng-model="data.input" ng-change="")

  %h3 Evaluator
  %input( ng-model="data.dev_input" ng-change="evaluate(data.dev_input)")
  -# %p {{dev_output}}
  -# TODO honour line-breaks, pretty-format json objects, make things clickable.
  %p( ng-include="'views/js_obj.html'" )


%section.results( ng-show="view_model.searches.length > 0" )
  %h2( ng-show="false" ) Hits

  %ul.search-list

    %li.item( data-ng-repeat="item in view_model.searches"
      ng-mouseover="preview(item)"
    )

      -# result list item
      %a( href="{{item.url}}")
        %img.search-icon( ng-src="{{item.thumbnail_url}}")
        %p {{item.name}}

      -# zoom-in view
      %ul.thumbnails
        %li.thumbnail( data-ng-repeat="page_item in item.pages" )
          %a( href="{{page_item.url}}")
            %img( ng-src="{{page_item.thumbnail_url}}")
            %p {{page_item.name}}

    -# %li.item( ng-show="view_model.searches.length > view_model.limit" )
    -#   %p More...

    -# separator TODO

    %li.item( data-ng-repeat="item in view_model.pages"
      ng-mouseover="preview(item)"
    )
      %a( href="{{item.url}}")
        %img( ng-src="{{item.thumbnail_url}}")
        %p {{item.name}}

        .thumbnails
          .thumbnail
            %a( href="{{item.url}}")
              %img( ng-src="{{item.thumbnail_url}}")
              %p {{item.name}}

    -# %li.item( ng-show="view_model.pages.length > view_model.limit" )
    -#   %p More...


%section.details
  %h2 {{view_model.details.name}}

  %ul.detail-list
    %li.item.thumbnail( ng-repeat="detail_item in view_model.details.items" )
      %a( href="{{detail_item.url}}")
        %img( ng-src="{{detail_item.thumbnail_url}}" )
        %p {{detail_item.name}}


%section.suggestions( ng-show="false" )
  %h2 Suggestions

  %ul.suggestion-list(  )

    %li.item( data-ng-repeat="item in data.suggestions"

      )
      %p {{item}}


%section.highlights( )
  %h2 Highlighted content for '{{data.input}}'

  %ul.highlight-list(  )

    %li.item( data-ng-repeat="item in data.highlights"

      )
      %p {{item}}


-# SCRIBBLE design candidate: list with category pane at left or top
