%script( type="text/ng-template" id="obj-node.html" )

  -# my properties.
  %ul( )
    %li( ng-repeat="key in obj_keys(obj)")
      %p <span ng-click="collapsed= ( ! collapsed)">{{key}}</span>: {{to_displayable(obj)}}
      -# FIXME if obj graph has cycles, this will hang the runtime.

      -# set obj and recursively render the template.
      %p(  ng-show="! collapsed" ng-include="'obj-node.html'" ng-init="obj = obj[key]" )


.tree-view( ng-controller="ObjTreeCtrl")
  %input( ng-model="expression" ng-change="evaluate(expression)")

  %ng-include( src="'obj-node.html'" )


-# TODO honour line-breaks, pretty-format json objects, make things clickable.

-# define an ng-template.

-# define top-level view element

