@import "../bower_components/foundation/scss/foundation";

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  /*display: none;*/

  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

ul {
  // text-align: center;

  // horizontally scrollable.
  white-space: nowrap;
  overflow: scroll;
}
li {
  list-style: none;
}


section {
  @include grid-row;  // horizontal sections
}

.search-list {
  display: flex;

  .item {
    min-width: 50px;  // constrain min item size
  }
  .item img {
    width: 50px;
    height: 50px;
  }
}

.detail-list {
  // flexbox layout
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;

  .item {
    margin-right: 10px;

    flex: 0 1 auto;

    // constrain minimum size.
    min-width: 10%;
  }
}

.highlights {
  // @include grid-row;
  display: none;
}



.item {
  // @include grid-column(4);  // 3-column layout

  background-color: lightyellow;

  img {
    // display: none;

    // display: inline-block;
    display: block;

    // width: 50px;
    // height: 50px;

    // size according to parent elem
    width: 100%;
  }

  p {
    display: inline-block;

    width: 50px; // limit spillover

    overflow: hidden;
  }

  .thumbnails {
    // text-align: center;
    overflow: scroll;
    white-space: nowrap;

    // thumbnails now handled by another model prop - ignore .thumbnails
    display: none;
  }
}

.thumbnail {
  // horizontal layout
  display: inline-block;

  img {
    width: 300px;
    height: 300px;
  }
  p {
    display: block;
    // display: none;

    // align width to elem cell
    width: 300px;
    overflow: hidden;
  }
}



.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


/**** Isotope Filtering ****/

.isotope {
  /*isotope horizontal layout needs height set on container */
  /*height: 120px;*/
  height: 100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
