-# data interface: 
-# items

.item-collection

  %li.item( data-ng-repeat="item in items"
    data-ng-mouseleave="highlight(null)"
    data-ng-mouseover="highlight(item)"
    )
    %p {{item}}

  / new item
  %li.item
    %a.item-image.item-image-new( data-ng-click="startCreateItem()"
    ) New item...
