%section.dev
  %h3 input:
  %input( ng-model="data.input" type="text" ng-change="evaluate(data.input)" ng-init="data = {}")

%section.results
  %h3 results:
  .results( ng-include="'views/js_obj.html'" )

  / if expression.error TODO
  %h3 error:
  %p {{expression.error}}
