-# ### The filtering UI markup.
-# all styling implemented in stylesheet.
-# attributes suffixed with _ are temporary disabled but not removed as they can be useful for future behavioural tweaks.


%section.dev( ng-show="view_model.show_dev()" )
  %h3 Filter
  %input( ng-model="data.input" ng-change="")

  -# %h3 Matching
  -# %p( editable-textarea="matching_searches_expr"
  -#   onbeforesave="update_matching_searches()"
  -#   ) {{ matching_searches_expr }}
  -# -# TODO on commit, re-eval and store on $scope.matching_searches.

%section.master

  %h2( ng-show="false" ) Hits


  -### list of master items

  .button-group( ng-show="false" )
    %p.hidden sort:
    .tiny.button.sort#by_date date
    .tiny.button.sort#by_size size
    .tiny.button.sort#none none

  -# TODO style to render horizontally stacked.
  -# TODO wire to a sort controller method, then to implementation components.

  %ul.hit-list( ng-show_="view_model.hits.length > 0"
    bindonce="view_model.hits"
    isotope-container
    iso-mode="insert"
    )

    %li.item( ng-repeat="item in view_model.hits | orderBy: view_model.sort"
      ng-class="classes(item)"
      ng-mouseover="preview(item)"
      ng-mouseleave_="hide_preview(item)"
      isotope-item
      )

      -# render a stack
      %a( bo-href="item.url" bo-title="item.name")
        %img.hit-icon( bo-src="item.thumbnail_url")
        %p( bo-text="item.name" )
        %p( bo-text="item.last_accessed_timestamp" )


    -### enable this to show a 'more...' button.
    -# %li.item( ng-show="view_model.hits.length > view_model.limit" )
    -#   %p More...


    -### WIP smart-stack placeholders.

    -# pages smart-stack currently created in filtering.coffee.

    -# %li.item.highlights( ng-show_="view_model.hits.length == 0")
    -#   %h3 Placeholder
    -#   %p TODO Matching snippets to show here.

    -# %li.item.search-suggestions( ng-show_="view_model.hits.length == 0")
    -#   %h3 Placeholder
    -#   %p TODO Suggested searches stack to show here.


-### display details for the highlighted item in master
%section.detail

  %h2( ng-bind="view_model.detail.name" )

  %ul.detail-list
    %li.item.thumbnail( ng-repeat="detail_item in view_model.detail.items" )
      %a( href="{{detail_item.url}}" title="{{detail_item.name}}")
        %img( ng-src="{{detail_item.thumbnail_url}}" )
        %p {{detail_item.name}}


%section.evaluator.dev
  .evaluator( ng-include="'views/eval.html'" ng-controller="EvalCtrl" )


-# SCRIBBLE design candidate: list with category pane at left or top
